body {
  background-color: #221300;
}

div {
  color: #cdbdcc;
  background-color: #491145;
}

h1 {
  color: white;
}

.title-h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #f9fecd;
  background-color: #20152a;
  width: 150px;
  padding: 10px;
  border-radius: 20px;
}

.placeholder {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.project-card {
  background: #20152a;
  border: 1px solid #f9fecd;
  border-radius: 15px;
  padding: 2.4rem;
  height: fit-content;
  box-shadow: 0 0 10px #009fdd;
}

iframe {
  height: 300px;
  width: 600px;
  border: 5px double #ddc4e6;
  border-radius: 30px;
}
