/*Reset and Base styles*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background: #f5f5f5;
  padding: 40px;
  color: #333;
}

h1 {
  margin-bottom: 10px;
}

p {
  margin-bottom: 20px;
}
/* Card Layout*/

.card-grid {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  background: white;
  padding: 20px;
  width: 250px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);

  /*Animate transform and box-shadow changes*/
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/*Card One: slide up and scale */
.card-one:hover {
  transform: translateY(-10px) scale (1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.card-two:hover {
  transform: rotate(3deg) scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.card-three:hover {
  transform: translateY(-8px) skewX(-5deg);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.card-four:hover {
  transform: rotateY(360deg) scale(1.5);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  transition: transform 1s ease, box-shadow 1s ease;
}

/* 
1. What is the difference bewteen transition and transform in CSS?
transition tell transform what and how fast something needs to change. Transform is how it changes.

2. Why do you need both a transition defined and a property change (like transform) to see an animation?
the transition is needed to activate the transform property.

3. Which card animation do you like the most, and what transform functions did you use?
I like the rotate function the most becaus i like watching the item spin. i used translate, rotate, scale, and skew.
*/
