section{
  display:flex;
  justify-content:center;
  align-items:center;

background-color:aliceblue;
height:400px;
border-radius:30px;
}

form{
background-color:#fff;
height:300px;
width:400px;
border-radius:30px;

display:flex;
justify-content:center;
align-items:center;
flex-direction:column;
}

#name{
background-color:bisque;
border-radius:5px;
}

#email{
background-color:bisque;
border-radius:5px;
}

#message{
background-color:bisque;
border-radius:5px;
}

button{
  background-color:aliceblue;
  border:1px solid gainsboro;
}