<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <%-include('header.ejs')%>
    <main>
      <h2>About</h2>
      <p>This is the about page content.</p>
    </main>
  </body>
</html>
